# IndiaLens Frontend — Local Environment
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_APP_URL=http://localhost:3000

# PostHog Analytics
NEXT_PUBLIC_POSTHOG_KEY=phc_pnSBaYELHjwHP2ZKMPdZrfnQoNeNLne2GCqPoK9Jyi2b
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
